/*utilization of class selectors*/
.titlebar { 
    /*general section attributes*/
    background: #1f2428;
    height: 30px;
    padding: 0 0.5rem;
    display: flex; /*fills any empty space in the box*/
    align-items: center;
    justify-content: center;
    font-size: 0.5rem;
    border-bottom: 1px solid #191d20;

    /*the words in the element*/
    color: #fff; /*refers to text color in the element */
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}

.title {
  flex: 1;
  text-align: center;
}

.icon {
  display: flex;
  margin: 0 auto; /*top right bottom left*/
  height: 20px;
  width: 20px;
  padding: 0.65rem 0;
}

.items {
  flex: 1; /*1-3 values*/
  display: flex;
  margin-right: auto;
  margin-left: 0.5rem;

}

/*this was my way*/
/*.items p { 
  display: flex;
  margin-left: 0.5rem;
  font-size: 16px;
}
*/

.items > * {
  padding: 0 0.3rem; /*i used margin left but padding does the trick too; also considered &nbsp; in HTML*/
  cursor: progress;/*pointer, wait, zoom-in, crosshair*/
}

/*WINDOW BUTTONS MAC STYLE*/

.windowButtons {
  flex: 1;
  display: flex;
  align-items: center;
  margin-left: auto;
  
}

.windowButtons * {
  margin-left: 0.5rem;
  height: 13px;
  width: 13px;
  border-radius: 50%; /*5px*/ 
  cursor: progress; 
}

.minimize {
  background-color: #f1fa8c;
  margin-left: auto;  
}

.maximize {
  background-color: #50fa7b;
}

.close {
  background-color: #ff5555;
}

@media screen and (max-width: 800px) {
  .items p {
    display: none;
  }
  .title {
    flex: 4;
  }
}
